<div>
  <h2 id="page-heading" data-cy="JobHeading">
    <span jhiTranslate="serviceApp.job.home.title">Jobs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="serviceApp.job.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-job-finance-app-suffix"
        [routerLink]="['/job-finance-app-suffix/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="serviceApp.job.home.createLabel">Criar novo Job</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (jobs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="serviceApp.job.home.notFound">Nenhum Job encontrado</span>
    </div>
  }

  @if (jobs && jobs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="jobTitle">
              <div class="d-flex">
                <span jhiTranslate="serviceApp.job.jobTitle">Job Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="minSalary">
              <div class="d-flex">
                <span jhiTranslate="serviceApp.job.minSalary">Min Salary</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maxSalary">
              <div class="d-flex">
                <span jhiTranslate="serviceApp.job.maxSalary">Max Salary</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="task.title">
              <div class="d-flex">
                <span jhiTranslate="serviceApp.job.task">Task</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employee.id">
              <div class="d-flex">
                <span jhiTranslate="serviceApp.job.employee">Employee</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (job of jobs; track trackId(job)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/job-finance-app-suffix', job.id, 'view']">{{ job.id }}</a>
              </td>
              <td>{{ job.jobTitle }}</td>
              <td>{{ job.minSalary }}</td>
              <td>{{ job.maxSalary }}</td>
              <td>
                @for (task of job.tasks; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/task-finance-app-suffix', task.id, 'view']">{{ task.title }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td>
                @if (job.employee) {
                  <div>
                    <a [routerLink]="['/employee-finance-app-suffix', job.employee.id, 'view']">{{ job.employee.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/job-finance-app-suffix', job.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/job-finance-app-suffix', job.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(job)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
